<!DOCTYPE html>
<html lang="en">
{% load static %}
  {% include "pages/include/homeHead.html" %}
  <body>
  <div id="page-wrapper">
    {% include "pages/include/homeHeader.html" %}
    {% block content %}{% endblock %}
    {% include "pages/include/homeFooter.html" %}
  </div>
  <script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/jquery.dropotron.min.js'%}"></script>
	<script src="{% static 'js/browser.min.js'%}"></script>
	<script src="{% static 'js/breakpoints.min.js'%}"></script>
	<script src="{% static 'js/util.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script>                
</body>
</html>